@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

p.thoughts {
	margin: 1em 0;
}

/* location-specific */
#chapter-1-2 blockquote p{
	font-variant: small-caps;
	margin-bottom: .5em;
	text-indent: 0;
}

#chapter-1-2 blockquote p > em{
	font-style: italic;
	font-variant: initial;
}

#chapter-2-3 p[epub|type~="z3998:signature"]{
	border-bottom: 2px black solid;
	margin-left: 60vw;
	padding-bottom: .5em;
}

#chapter-2-24 blockquote,
#chapter-2-42 blockquote:nth-of-type(5),
#chapter-3-8 blockquote:first-of-type{
	text-align: center;
}

#chapter-2-47 hr:first-of-type + p,
#chapter-2-47 hr:nth-of-type(3) + p,
#chapter-2-47 hr:nth-of-type(9) + p{
	text-indent: 1em;
}

#chapter-3-17 blockquote > header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

#chapter-3-17 blockquote:nth-of-type(2) p,
#chapter-3-17 blockquote:nth-of-type(3) p,
#chapter-3-23 blockquote p{
	font-variant: small-caps;
	margin-bottom: .5em;
	text-align: center;
	text-indent: 0;
}
/* end of location-specific */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	text-align: initial;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: initial;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:hymn"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i4{
	text-indent: -1em;
	padding-left: 3em;
}
/* end of poem/verse/song */
